body {
border: 10px solid teal;
display: ;
margin: 0px;
background-color: #111;
}

h1, h2, p {
 color: #fff;
  font-family: arial;
}

h1 {
font-size: 60px;
text-align: center;
}

h2 {
font-size: 20px;
text-align: center;
}

#center {
text-align: center;
}

