/* ALL BRIDGES */
#bridge-to-halls-section,
#bridge-to-halls-0-section,  
#bridge-to-halls-1-section, 
#bridge-to-halls-2-section, 
#bridge-to-halls-3-section, 
#bridge-to-halls-4-section, 
#bridge-to-halls-5-section, 
#bridge-to-halls-6-section, 
#bridge-to-halls-7-section, 
#bridge-to-halls-8-section, 
#bridge-to-halls-9-section,
#bridge-to-halls-10-section, 
#bridge-to-halls-11-section, 
#bridge-to-halls-12-section, 
#bridge-to-halls-13-section, 
#bridge-to-halls-14-ection, 
#bridge-to-halls-15-section, 
#bridge-to-halls-16-section, 
#bridge-to-halls-17-section, 
#bridge-to-halls-18-section, 
#bridge-to-halls-19-section,
#bridge-to-halls-20-section, 
#bridge-to-halls-21-section, 
#bridge-to-halls-22-section, 
#bridge-to-halls-23-section, 
#bridge-to-halls-24-section, 
#bridge-to-halls-25-section, 
#bridge-to-halls-26-section, 
#bridge-to-halls-27-section, 
#bridge-to-halls-28-section, 
#bridge-to-halls-29-section,
#bridge-to-halls-30-section, 
#bridge-to-halls-31-section, 
#bridge-to-halls-32-section, 
#bridge-to-halls-33-section, 
#bridge-to-halls-34-section, 
#bridge-to-halls-35-section, 
#bridge-to-halls-36-section, 
#bridge-to-halls-37-section, 
#bridge-to-halls-38-section, 
#bridge-to-halls-39-section,
#bridge-to-halls-40-section, 
#bridge-to-halls-41-section, 
#bridge-to-halls-42-section, 
#bridge-to-halls-43-section, 
#bridge-to-halls-44-section, 
#bridge-to-halls-45-section, 
#bridge-to-halls-46-section, 
#bridge-to-halls-47-section, 
#bridge-to-halls-48-section, 
#bridge-to-halls-49-section,
#bridge-to-halls-50-section, 
#bridge-to-halls-51-section, 
#bridge-to-halls-52-section, 
#bridge-to-halls-53-section, 
#bridge-to-halls-54-section, 
#bridge-to-halls-55-section, 
#bridge-to-halls-56-section, 
#bridge-to-halls-57-section, 
#bridge-to-halls-58-section, 
#bridge-to-halls-59-section,
#bridge-to-halls-60-section, 
#bridge-to-halls-61-section, 
#bridge-to-halls-62-section, 
#bridge-to-halls-63-section, 
#bridge-to-halls-64-section, 
#bridge-to-halls-65-section, 
#bridge-to-halls-66-section, 
#bridge-to-halls-67-section, 
#bridge-to-halls-68-section, 
#bridge-to-halls-69-section,
#bridge-to-halls-70-section, 
#bridge-to-halls-71-section, 
#bridge-to-halls-72-section, 
#bridge-to-halls-73-section, 
#bridge-to-halls-74-section, 
#bridge-to-halls-75-section, 
#bridge-to-halls-76-section, 
#bridge-to-halls-77-section, 
#bridge-to-halls-78-section, 
#bridge-to-halls-79-section,
#bridge-to-halls-80-section, 
#bridge-to-halls-81-section, 
#bridge-to-halls-82-section, 
#bridge-to-halls-83-section, 
#bridge-to-halls-84-section, 
#bridge-to-halls-85-section, 
#bridge-to-halls-86-section, 
#bridge-to-halls-87-section, 
#bridge-to-halls-88-section, 
#bridge-to-halls-89-section,
#bridge-to-halls-90-section, 
#bridge-to-halls-91-section, 
#bridge-to-halls-92-section, 
#bridge-to-halls-93-section, 
#bridge-to-halls-94-section, 
#bridge-to-halls-95-section, 
#bridge-to-halls-96-section, 
#bridge-to-halls-97-section, 
#bridge-to-halls-98-section, 
#bridge-to-halls-99-section,
#bridge-to-halls-100-section, 



#bridge-to-campus-section, 
#bridge-to-campus-0-section, 
#bridge-to-campus-1-section, 
#bridge-to-campus-2-section, 
#bridge-to-campus-3-section, 
#bridge-to-campus-4-section, 
#bridge-to-campus-5-section, 
#bridge-to-campus-6-section, 
#bridge-to-campus-7-section, 
#bridge-to-campus-8-section, 
#bridge-to-campus-9-section, 
#bridge-to-campus-10-section, 
#bridge-to-campus-10-section, 
#bridge-to-campus-11-section, 
#bridge-to-campus-12-section, 
#bridge-to-campus-13-section, 
#bridge-to-campus-14-section, 
#bridge-to-campus-15-section, 
#bridge-to-campus-16-section, 
#bridge-to-campus-17-section, 
#bridge-to-campus-18-section, 
#bridge-to-campus-19-section, 
#bridge-to-campus-20-section, 
#bridge-to-campus-21-section, 
#bridge-to-campus-22-section, 
#bridge-to-campus-23-section, 
#bridge-to-campus-24-section, 
#bridge-to-campus-25-section, 
#bridge-to-campus-26-section, 
#bridge-to-campus-27-section, 
#bridge-to-campus-28-section, 
#bridge-to-campus-29-section, 
#bridge-to-campus-30-section, 
#bridge-to-campus-31-section, 
#bridge-to-campus-32-section, 
#bridge-to-campus-33-section, 
#bridge-to-campus-34-section, 
#bridge-to-campus-35-section, 
#bridge-to-campus-36-section, 
#bridge-to-campus-37-section, 
#bridge-to-campus-38-section, 
#bridge-to-campus-39-section, 
#bridge-to-campus-40-section, 
#bridge-to-campus-41-section, 
#bridge-to-campus-42-section, 
#bridge-to-campus-43-section, 
#bridge-to-campus-44-section, 
#bridge-to-campus-45-section, 
#bridge-to-campus-46-section, 
#bridge-to-campus-47-section, 
#bridge-to-campus-48-section, 
#bridge-to-campus-49-section, 
#bridge-to-campus-50-section, 
#bridge-to-campus-51-section, 
#bridge-to-campus-52-section, 
#bridge-to-campus-53-section, 
#bridge-to-campus-54-section, 
#bridge-to-campus-55-section, 
#bridge-to-campus-56-section, 
#bridge-to-campus-57-section, 
#bridge-to-campus-58-section, 
#bridge-to-campus-59-section, 
#bridge-to-campus-60-section, 
#bridge-to-campus-61-section, 
#bridge-to-campus-62-section, 
#bridge-to-campus-63-section, 
#bridge-to-campus-64-section, 
#bridge-to-campus-65-section, 
#bridge-to-campus-66-section, 
#bridge-to-campus-67-section, 
#bridge-to-campus-68-section, 
#bridge-to-campus-69-section, 
#bridge-to-campus-70-section, 
#bridge-to-campus-71-section, 
#bridge-to-campus-72-section, 
#bridge-to-campus-73-section, 
#bridge-to-campus-74-section, 
#bridge-to-campus-75-section, 
#bridge-to-campus-76-section, 
#bridge-to-campus-77-section, 
#bridge-to-campus-78-section, 
#bridge-to-campus-79-section, 
#bridge-to-campus-80-section, 
#bridge-to-campus-81-section, 
#bridge-to-campus-82-section, 
#bridge-to-campus-83-section, 
#bridge-to-campus-84-section, 
#bridge-to-campus-85-section, 
#bridge-to-campus-86-section, 
#bridge-to-campus-87-section, 
#bridge-to-campus-88-section, 
#bridge-to-campus-89-section, 
#bridge-to-campus-90-section, 
#bridge-to-campus-91-section, 
#bridge-to-campus-92-section, 
#bridge-to-campus-93-section, 
#bridge-to-campus-94-section, 
#bridge-to-campus-95-section, 
#bridge-to-campus-96-section, 
#bridge-to-campus-97-section, 
#bridge-to-campus-98-section, 
#bridge-to-campus-99-section, 
#bridge-to-campus-100-section, 





#bridge-to-off-campus-section,
#bridge-to-off-campus-0-section,
#bridge-to-off-campus-1-section,
#bridge-to-off-campus-2-section,
#bridge-to-off-campus-3-section,
#bridge-to-off-campus-4-section,
#bridge-to-off-campus-5-section,
#bridge-to-off-campus-6-section,
#bridge-to-off-campus-7-section,
#bridge-to-off-campus-8-section,
#bridge-to-off-campus-9-section,
#bridge-to-off-campus-10-section,
#bridge-to-off-campus-11-section,
#bridge-to-off-campus-12-section,
#bridge-to-off-campus-13-section,
#bridge-to-off-campus-14-section,
#bridge-to-off-campus-15-section,
#bridge-to-off-campus-16-section,
#bridge-to-off-campus-17-section,
#bridge-to-off-campus-18-section,
#bridge-to-off-campus-19-section,
#bridge-to-off-campus-20-section,
#bridge-to-off-campus-21-section,
#bridge-to-off-campus-22-section,
#bridge-to-off-campus-23-section,
#bridge-to-off-campus-24-section,
#bridge-to-off-campus-25-section,
#bridge-to-off-campus-26-section,
#bridge-to-off-campus-27-section,
#bridge-to-off-campus-28-section,
#bridge-to-off-campus-29-section,
#bridge-to-off-campus-30-section,
#bridge-to-off-campus-31-section,
#bridge-to-off-campus-32-section,
#bridge-to-off-campus-33-section,
#bridge-to-off-campus-34-section,
#bridge-to-off-campus-35-section,
#bridge-to-off-campus-36-section,
#bridge-to-off-campus-37-section,
#bridge-to-off-campus-38-section,
#bridge-to-off-campus-39-section,
#bridge-to-off-campus-40-section,
#bridge-to-off-campus-41-section,
#bridge-to-off-campus-42-section,
#bridge-to-off-campus-43-section,
#bridge-to-off-campus-44-section,
#bridge-to-off-campus-45-section,
#bridge-to-off-campus-46-section,
#bridge-to-off-campus-47-section,
#bridge-to-off-campus-48-section,
#bridge-to-off-campus-49-section,
#bridge-to-off-campus-50-section,
#bridge-to-off-campus-51-section,
#bridge-to-off-campus-52-section,
#bridge-to-off-campus-53-section,
#bridge-to-off-campus-54-section,
#bridge-to-off-campus-55-section,
#bridge-to-off-campus-56-section,
#bridge-to-off-campus-57-section,
#bridge-to-off-campus-58-section,
#bridge-to-off-campus-59-section,
#bridge-to-off-campus-60-section,
#bridge-to-off-campus-61-section,
#bridge-to-off-campus-62-section,
#bridge-to-off-campus-63-section,
#bridge-to-off-campus-64-section,
#bridge-to-off-campus-65-section,
#bridge-to-off-campus-66-section,
#bridge-to-off-campus-67-section,
#bridge-to-off-campus-68-section,
#bridge-to-off-campus-69-section,
#bridge-to-off-campus-70-section,
#bridge-to-off-campus-71-section,
#bridge-to-off-campus-72-section,
#bridge-to-off-campus-73-section,
#bridge-to-off-campus-74-section,
#bridge-to-off-campus-75-section,
#bridge-to-off-campus-76-section,
#bridge-to-off-campus-77-section,
#bridge-to-off-campus-78-section,
#bridge-to-off-campus-79-section,
#bridge-to-off-campus-80-section,
#bridge-to-off-campus-81-section,
#bridge-to-off-campus-82-section,
#bridge-to-off-campus-83-section,
#bridge-to-off-campus-84-section,
#bridge-to-off-campus-85-section,
#bridge-to-off-campus-86-section,
#bridge-to-off-campus-87-section,
#bridge-to-off-campus-88-section,
#bridge-to-off-campus-89-section,
#bridge-to-off-campus-90-section,
#bridge-to-off-campus-91-section,
#bridge-to-off-campus-92-section,
#bridge-to-off-campus-93-section,
#bridge-to-off-campus-94-section,
#bridge-to-off-campus-95-section,
#bridge-to-off-campus-96-section,
#bridge-to-off-campus-97-section,
#bridge-to-off-campus-98-section,
#bridge-to-off-campus-99-section,
#bridge-to-off-campus-100-section,






#bridge-to-2nd-year-section,
#bridge-to-2nd-year-0-section,
#bridge-to-2nd-year-1-section,
#bridge-to-2nd-year-2-section,
#bridge-to-2nd-year-3-section,
#bridge-to-2nd-year-4-section,
#bridge-to-2nd-year-5-section,
#bridge-to-2nd-year-6-section,
#bridge-to-2nd-year-7-section,
#bridge-to-2nd-year-8-section,
#bridge-to-2nd-year-9-section,
#bridge-to-2nd-year-10-section,
#bridge-to-2nd-year-11-section,
#bridge-to-2nd-year-12-section,
#bridge-to-2nd-year-13-section,
#bridge-to-2nd-year-14-section,
#bridge-to-2nd-year-15-section,
#bridge-to-2nd-year-16-section,
#bridge-to-2nd-year-17-section,
#bridge-to-2nd-year-18-section,
#bridge-to-2nd-year-19-section,
#bridge-to-2nd-year-20-section,
#bridge-to-2nd-year-21-section,
#bridge-to-2nd-year-22-section,
#bridge-to-2nd-year-23-section,
#bridge-to-2nd-year-24-section,
#bridge-to-2nd-year-25-section,
#bridge-to-2nd-year-26-section,
#bridge-to-2nd-year-27-section,
#bridge-to-2nd-year-28-section,
#bridge-to-2nd-year-29-section,
#bridge-to-2nd-year-30-section,
#bridge-to-2nd-year-31-section,
#bridge-to-2nd-year-32-section,
#bridge-to-2nd-year-33-section,
#bridge-to-2nd-year-34-section,
#bridge-to-2nd-year-35-section,
#bridge-to-2nd-year-36-section,
#bridge-to-2nd-year-37-section,
#bridge-to-2nd-year-38-section,
#bridge-to-2nd-year-39-section,
#bridge-to-2nd-year-40-section,
#bridge-to-2nd-year-41-section,
#bridge-to-2nd-year-42-section,
#bridge-to-2nd-year-43-section,
#bridge-to-2nd-year-44-section,
#bridge-to-2nd-year-45-section,
#bridge-to-2nd-year-46-section,
#bridge-to-2nd-year-47-section,
#bridge-to-2nd-year-48-section,
#bridge-to-2nd-year-49-section,
#bridge-to-2nd-year-50-section,
#bridge-to-2nd-year-51-section,
#bridge-to-2nd-year-52-section,
#bridge-to-2nd-year-53-section,
#bridge-to-2nd-year-54-section,
#bridge-to-2nd-year-55-section,
#bridge-to-2nd-year-56-section,
#bridge-to-2nd-year-57-section,
#bridge-to-2nd-year-58-section,
#bridge-to-2nd-year-59-section,
#bridge-to-2nd-year-60-section,
#bridge-to-2nd-year-61-section,
#bridge-to-2nd-year-62-section,
#bridge-to-2nd-year-63-section,
#bridge-to-2nd-year-64-section,
#bridge-to-2nd-year-65-section,
#bridge-to-2nd-year-66-section,
#bridge-to-2nd-year-67-section,
#bridge-to-2nd-year-68-section,
#bridge-to-2nd-year-69-section,
#bridge-to-2nd-year-70-section,
#bridge-to-2nd-year-71-section,
#bridge-to-2nd-year-72-section,
#bridge-to-2nd-year-73-section,
#bridge-to-2nd-year-74-section,
#bridge-to-2nd-year-75-section,
#bridge-to-2nd-year-76-section,
#bridge-to-2nd-year-77-section,
#bridge-to-2nd-year-78-section,
#bridge-to-2nd-year-79-section,
#bridge-to-2nd-year-80-section,
#bridge-to-2nd-year-81-section,
#bridge-to-2nd-year-82-section,
#bridge-to-2nd-year-83-section,
#bridge-to-2nd-year-84-section,
#bridge-to-2nd-year-85-section,
#bridge-to-2nd-year-86-section,
#bridge-to-2nd-year-87-section,
#bridge-to-2nd-year-88-section,
#bridge-to-2nd-year-89-section,
#bridge-to-2nd-year-90-section,
#bridge-to-2nd-year-91-section,
#bridge-to-2nd-year-92-section,
#bridge-to-2nd-year-93-section,
#bridge-to-2nd-year-94-section,
#bridge-to-2nd-year-95-section,
#bridge-to-2nd-year-96-section,
#bridge-to-2nd-year-97-section,
#bridge-to-2nd-year-98-section,
#bridge-to-2nd-year-99-section,
#bridge-to-2nd-year-100-section,








#bridge-to-nightlife-section,
#bridge-to-nightlife-0-section,
#bridge-to-nightlife-1-section,
#bridge-to-nightlife-2-section,
#bridge-to-nightlife-3-section,
#bridge-to-nightlife-4-section,
#bridge-to-nightlife-5-section,
#bridge-to-nightlife-6-section,
#bridge-to-nightlife-7-section,
#bridge-to-nightlife-8-section,
#bridge-to-nightlife-9-section,
#bridge-to-nightlife-10-section,
#bridge-to-nightlife-11-section,
#bridge-to-nightlife-12-section,
#bridge-to-nightlife-13-section,
#bridge-to-nightlife-14-section,
#bridge-to-nightlife-15-section,
#bridge-to-nightlife-16-section,
#bridge-to-nightlife-17-section,
#bridge-to-nightlife-18-section,
#bridge-to-nightlife-19-section,
#bridge-to-nightlife-20-section,
#bridge-to-nightlife-21-section,
#bridge-to-nightlife-22-section,
#bridge-to-nightlife-23-section,
#bridge-to-nightlife-24-section,
#bridge-to-nightlife-25-section,
#bridge-to-nightlife-26-section,
#bridge-to-nightlife-27-section,
#bridge-to-nightlife-28-section,
#bridge-to-nightlife-29-section,
#bridge-to-nightlife-30-section,
#bridge-to-nightlife-31-section,
#bridge-to-nightlife-32-section,
#bridge-to-nightlife-33-section,
#bridge-to-nightlife-34-section,
#bridge-to-nightlife-35-section,
#bridge-to-nightlife-36-section,
#bridge-to-nightlife-37-section,
#bridge-to-nightlife-38-section,
#bridge-to-nightlife-39-section,
#bridge-to-nightlife-40-section,
#bridge-to-nightlife-41-section,
#bridge-to-nightlife-42-section,
#bridge-to-nightlife-43-section,
#bridge-to-nightlife-44-section,
#bridge-to-nightlife-45-section,
#bridge-to-nightlife-46-section,
#bridge-to-nightlife-47-section,
#bridge-to-nightlife-48-section,
#bridge-to-nightlife-49-section,
#bridge-to-nightlife-50-section,
#bridge-to-nightlife-51-section,
#bridge-to-nightlife-52-section,
#bridge-to-nightlife-53-section,
#bridge-to-nightlife-54-section,
#bridge-to-nightlife-55-section,
#bridge-to-nightlife-56-section,
#bridge-to-nightlife-57-section,
#bridge-to-nightlife-58-section,
#bridge-to-nightlife-59-section,
#bridge-to-nightlife-60-section,
#bridge-to-nightlife-61-section,
#bridge-to-nightlife-62-section,
#bridge-to-nightlife-63-section,
#bridge-to-nightlife-64-section,
#bridge-to-nightlife-65-section,
#bridge-to-nightlife-66-section,
#bridge-to-nightlife-67-section,
#bridge-to-nightlife-68-section,
#bridge-to-nightlife-69-section,
#bridge-to-nightlife-70-section,
#bridge-to-nightlife-71-section,
#bridge-to-nightlife-72-section,
#bridge-to-nightlife-73-section,
#bridge-to-nightlife-74-section,
#bridge-to-nightlife-75-section,
#bridge-to-nightlife-76-section,
#bridge-to-nightlife-77-section,
#bridge-to-nightlife-78-section,
#bridge-to-nightlife-79-section,
#bridge-to-nightlife-80-section,
#bridge-to-nightlife-81-section,
#bridge-to-nightlife-82-section,
#bridge-to-nightlife-83-section,
#bridge-to-nightlife-84-section,
#bridge-to-nightlife-85-section,
#bridge-to-nightlife-86-section,
#bridge-to-nightlife-87-section,
#bridge-to-nightlife-88-section,
#bridge-to-nightlife-89-section,
#bridge-to-nightlife-90-section,
#bridge-to-nightlife-91-section,
#bridge-to-nightlife-92-section,
#bridge-to-nightlife-93-section,
#bridge-to-nightlife-94-section,
#bridge-to-nightlife-95-section,
#bridge-to-nightlife-96-section,
#bridge-to-nightlife-97-section,
#bridge-to-nightlife-98-section,
#bridge-to-nightlife-99-section,
#bridge-to-nightlife-100-section,









#bridge-to-freshers-week-section,
#bridge-to-freshers-week-0-section,
#bridge-to-freshers-week-1-section,
#bridge-to-freshers-week-2-section,
#bridge-to-freshers-week-3-section,
#bridge-to-freshers-week-4-section,
#bridge-to-freshers-week-5-section,
#bridge-to-freshers-week-6-section,
#bridge-to-freshers-week-7-section,
#bridge-to-freshers-week-8-section,
#bridge-to-freshers-week-9-section,





#bridge-to-money-section,
#bridge-to-money-0-section,
#bridge-to-money-1-section,
#bridge-to-money-2-section,
#bridge-to-money-3-section,
#bridge-to-money-4-section,
#bridge-to-money-5-section,
#bridge-to-money-6-section,
#bridge-to-money-7-section,
#bridge-to-money-8-section,
#bridge-to-money-9-section,
#bridge-to-money-10-section,
#bridge-to-money-11-section,
#bridge-to-money-12-section,
#bridge-to-money-13-section,
#bridge-to-money-14-section,
#bridge-to-money-15-section,
#bridge-to-money-16-section,
#bridge-to-money-17-section,
#bridge-to-money-18-section,
#bridge-to-money-19-section,
#bridge-to-money-20-section,
#bridge-to-money-21-section,
#bridge-to-money-22-section,
#bridge-to-money-23-section,
#bridge-to-money-24-section,
#bridge-to-money-25-section,
#bridge-to-money-26-section,
#bridge-to-money-27-section,
#bridge-to-money-28-section,
#bridge-to-money-29-section,
#bridge-to-money-30-section,
#bridge-to-money-31-section,
#bridge-to-money-32-section,
#bridge-to-money-33-section,
#bridge-to-money-34-section,
#bridge-to-money-35-section,
#bridge-to-money-36-section,
#bridge-to-money-37-section,
#bridge-to-money-38-section,
#bridge-to-money-39-section,
#bridge-to-money-40-section,
#bridge-to-money-41-section,
#bridge-to-money-42-section,
#bridge-to-money-43-section,
#bridge-to-money-44-section,
#bridge-to-money-45-section,
#bridge-to-money-46-section,
#bridge-to-money-47-section,
#bridge-to-money-48-section,
#bridge-to-money-49-section,
#bridge-to-money-50-section,
#bridge-to-money-51-section,
#bridge-to-money-52-section,
#bridge-to-money-53-section,
#bridge-to-money-54-section,
#bridge-to-money-55-section,
#bridge-to-money-56-section,
#bridge-to-money-57-section,
#bridge-to-money-58-section,
#bridge-to-money-59-section,
#bridge-to-money-60-section,
#bridge-to-money-61-section,
#bridge-to-money-62-section,
#bridge-to-money-63-section,
#bridge-to-money-64-section,
#bridge-to-money-65-section,
#bridge-to-money-66-section,
#bridge-to-money-67-section,
#bridge-to-money-68-section,
#bridge-to-money-69-section,
#bridge-to-money-70-section,
#bridge-to-money-71-section,
#bridge-to-money-72-section,
#bridge-to-money-73-section,
#bridge-to-money-74-section,
#bridge-to-money-75-section,
#bridge-to-money-76-section,
#bridge-to-money-77-section,
#bridge-to-money-78-section,
#bridge-to-money-79-section,
#bridge-to-money-80-section,
#bridge-to-money-81-section,
#bridge-to-money-82-section,
#bridge-to-money-83-section,
#bridge-to-money-84-section,
#bridge-to-money-85-section,
#bridge-to-money-86-section,
#bridge-to-money-87-section,
#bridge-to-money-88-section,
#bridge-to-money-89-section,
#bridge-to-money-90-section,
#bridge-to-money-91-section,
#bridge-to-money-92-section,
#bridge-to-money-93-section,
#bridge-to-money-94-section,
#bridge-to-money-95-section,
#bridge-to-money-96-section,
#bridge-to-money-97-section,
#bridge-to-money-98-section,
#bridge-to-money-99-section,
#bridge-to-money-100-section,






#bridge-to-fresher-wisdom-section,
#bridge-to-fresher-wisdom-0-section,
#bridge-to-fresher-wisdom-1-section,
#bridge-to-fresher-wisdom-2-section,
#bridge-to-fresher-wisdom-3-section,
#bridge-to-fresher-wisdom-4-section,
#bridge-to-fresher-wisdom-5-section,
#bridge-to-fresher-wisdom-6-section,
#bridge-to-fresher-wisdom-7-section,
#bridge-to-fresher-wisdom-8-section,
#bridge-to-fresher-wisdom-9-section,
#bridge-to-fresher-wisdom-10-section,
#bridge-to-fresher-wisdom-11-section,
#bridge-to-fresher-wisdom-12-section,
#bridge-to-fresher-wisdom-13-section,
#bridge-to-fresher-wisdom-14-section,
#bridge-to-fresher-wisdom-15-section,
#bridge-to-fresher-wisdom-16-section,
#bridge-to-fresher-wisdom-17-section,
#bridge-to-fresher-wisdom-18-section,
#bridge-to-fresher-wisdom-19-section,
#bridge-to-fresher-wisdom-20-section,
#bridge-to-fresher-wisdom-21-section,
#bridge-to-fresher-wisdom-22-section,
#bridge-to-fresher-wisdom-23-section,
#bridge-to-fresher-wisdom-24-section,
#bridge-to-fresher-wisdom-25-section,
#bridge-to-fresher-wisdom-26-section,
#bridge-to-fresher-wisdom-27-section,
#bridge-to-fresher-wisdom-28-section,
#bridge-to-fresher-wisdom-29-section,
#bridge-to-fresher-wisdom-30-section,
#bridge-to-fresher-wisdom-31-section,
#bridge-to-fresher-wisdom-32-section,
#bridge-to-fresher-wisdom-33-section,
#bridge-to-fresher-wisdom-34-section,
#bridge-to-fresher-wisdom-35-section,
#bridge-to-fresher-wisdom-36-section,
#bridge-to-fresher-wisdom-37-section,
#bridge-to-fresher-wisdom-38-section,
#bridge-to-fresher-wisdom-39-section,
#bridge-to-fresher-wisdom-40-section,
#bridge-to-fresher-wisdom-41-section,
#bridge-to-fresher-wisdom-42-section,
#bridge-to-fresher-wisdom-43-section,
#bridge-to-fresher-wisdom-44-section,
#bridge-to-fresher-wisdom-45-section,
#bridge-to-fresher-wisdom-46-section,
#bridge-to-fresher-wisdom-47-section,
#bridge-to-fresher-wisdom-48-section,
#bridge-to-fresher-wisdom-49-section,
#bridge-to-fresher-wisdom-50-section,
#bridge-to-fresher-wisdom-51-section,
#bridge-to-fresher-wisdom-52-section,
#bridge-to-fresher-wisdom-53-section,
#bridge-to-fresher-wisdom-54-section,
#bridge-to-fresher-wisdom-55-section,
#bridge-to-fresher-wisdom-56-section,
#bridge-to-fresher-wisdom-57-section,
#bridge-to-fresher-wisdom-58-section,
#bridge-to-fresher-wisdom-59-section,
#bridge-to-fresher-wisdom-60-section,
#bridge-to-fresher-wisdom-61-section,
#bridge-to-fresher-wisdom-62-section,
#bridge-to-fresher-wisdom-63-section,
#bridge-to-fresher-wisdom-64-section,
#bridge-to-fresher-wisdom-65-section,
#bridge-to-fresher-wisdom-66-section,
#bridge-to-fresher-wisdom-67-section,
#bridge-to-fresher-wisdom-68-section,
#bridge-to-fresher-wisdom-69-section,
#bridge-to-fresher-wisdom-60-section,
#bridge-to-fresher-wisdom-71-section,
#bridge-to-fresher-wisdom-72-section,
#bridge-to-fresher-wisdom-73-section,
#bridge-to-fresher-wisdom-74-section,
#bridge-to-fresher-wisdom-75-section,
#bridge-to-fresher-wisdom-76-section,
#bridge-to-fresher-wisdom-77-section,
#bridge-to-fresher-wisdom-78-section,
#bridge-to-fresher-wisdom-79-section,
#bridge-to-fresher-wisdom-80-section,
#bridge-to-fresher-wisdom-81-section,
#bridge-to-fresher-wisdom-82-section,
#bridge-to-fresher-wisdom-83-section,
#bridge-to-fresher-wisdom-84-section,
#bridge-to-fresher-wisdom-85-section,
#bridge-to-fresher-wisdom-86-section,
#bridge-to-fresher-wisdom-87-section,
#bridge-to-fresher-wisdom-88-section,
#bridge-to-fresher-wisdom-89-section,
#bridge-to-fresher-wisdom-90-section,
#bridge-to-fresher-wisdom-91-section,
#bridge-to-fresher-wisdom-92-section,
#bridge-to-fresher-wisdom-93-section,
#bridge-to-fresher-wisdom-94-section,
#bridge-to-fresher-wisdom-95-section,
#bridge-to-fresher-wisdom-96-section,
#bridge-to-fresher-wisdom-97-section,
#bridge-to-fresher-wisdom-98-section,
#bridge-to-fresher-wisdom-99-section,
#bridge-to-fresher-wisdom-100-section


{
	display: none;
  background-color: #1BA39C !important  ;
 h2{
      color: #F4D03F;
        font-size: 40px;
   text-align: center !important
    }
  p{
     color: #F4D03F !important;
     font-size: 15px;
    text-align: center
  }
    /* CUSTOM CSS */
  .sqs-block-horizontalrule hr {
    height: 3px !important;
    align: center;
    background: #F4D03F;
    @media (max-width: 500px){
    display: none;
    }
}
}
/* END OF ALL BRIDGES */


#bridge-to-your-course-section, 
#bridge-to-your-course-0-section,
#bridge-to-your-course-1-section,
#bridge-to-your-course-2-section,  
#bridge-to-your-course-3-section, 
#bridge-to-your-course-3-section, 
#bridge-to-your-course-4-section, 
#bridge-to-your-course-5-section, 
#bridge-to-your-course-6-section, 
#bridge-to-your-course-7-section, 
#bridge-to-your-course-8-section, 
#bridge-to-your-course-9-section {

  display: none;
}



