/* TITLE PAGES */
#overview-section, 
#overview-0-section,
#overview-1-section,
#overview-2-section,
#overview-3-section,
#overview-4-section,
#overview-5-section,
#overview-6-section,
#overview-7-section,
#overview-8-section,
#overview-9-section,
#overview-10-section,
#overview-11-section,
#overview-12-section,
#overview-13-section,
#overview-14-section,
#overview-15-section,
#overview-16-section,
#overview-17-section,
#overview-18-section,
#overview-19-section,
#overview-20-section,
#overview-21-section,
#overview-22-section,
#overview-23-section,
#overview-24-section,
#overview-25-section,
#overview-26-section,
#overview-27-section,
#overview-28-section,
#overview-29-section,
#overview-30-section,
#overview-31-section,
#overview-32-section,
#overview-33-section,
#overview-34-section,
#overview-35-section,
#overview-36-section,
#overview-37-section,
#overview-38-section,
#overview-39-section,
#overview-40-section,
#overview-41-section,
#overview-42-section,
#overview-43-section,
#overview-44-section,
#overview-45-section,
#overview-46-section,
#overview-47-section,
#overview-48-section,
#overview-49-section,
#overview-50-section,
#overview-51-section,
#overview-52-section,
#overview-53-section,
#overview-54-section,
#overview-55-section,
#overview-56-section,
#overview-57-section,
#overview-58-section,
#overview-59-section,
#overview-60-section,
#overview-61-section,
#overview-62-section,
#overview-63-section,
#overview-64-section,
#overview-65-section,
#overview-66-section,
#overview-67-section,
#overview-68-section,
#overview-69-section,
#overview-70-section,
#overview-71-section,
#overview-72-section,
#overview-73-section,
#overview-74-section,
#overview-75-section,
#overview-76-section,
#overview-77-section,
#overview-78-section,
#overview-79-section,
#overview-80-section,
#overview-81-section,
#overview-82-section,
#overview-83-section,
#overview-84-section,
#overview-85-section,
#overview-86-section,
#overview-87-section,
#overview-88-section,
#overview-89-section,
#overview-90-section,
#overview-91-section,
#overview-92-section,
#overview-93-section,
#overview-94-section,
#overview-95-section,
#overview-96-section,
#overview-97-section,
#overview-98-section,
#overview-99-section,
#overview-100-section,






#halls-section,
#halls-0-section, 
#halls-1-section, 
#halls-2-section,
#halls-3-section,
#halls-4-section,
#halls-5-section,
#halls-6-section,
#halls-7-section,
#halls-8-section,
#halls-9-section,
#halls-10-section, 
#halls-11-section, 
#halls-12-section,
#halls-13-section,
#halls-14-section,
#halls-15-section,
#halls-16-section,
#halls-17-section,
#halls-18-section,
#halls-19-section,
#halls-20-section, 
#halls-21-section, 
#halls-22-section,
#halls-23-section,
#halls-24-section,
#halls-25-section,
#halls-26-section,
#halls-27-section,
#halls-28-section,
#halls-29-section,
#halls-30-section, 
#halls-31-section, 
#halls-32-section,
#halls-33-section,
#halls-34-section,
#halls-35-section,
#halls-36-section,
#halls-37-section,
#halls-38-section,
#halls-39-section,
#halls-40-section, 
#halls-41-section, 
#halls-42-section,
#halls-43-section,
#halls-44-section,
#halls-45-section,
#halls-46-section,
#halls-47-section,
#halls-48-section,
#halls-49-section,
#halls-50-section, 
#halls-51-section, 
#halls-52-section,
#halls-53-section,
#halls-54-section,
#halls-55-section,
#halls-56-section,
#halls-57-section,
#halls-58-section,
#halls-59-section,
#halls-60-section, 
#halls-61-section, 
#halls-62-section,
#halls-63-section,
#halls-64-section,
#halls-65-section,
#halls-66-section,
#halls-67-section,
#halls-68-section,
#halls-69-section,
#halls-70-section, 
#halls-71-section, 
#halls-72-section,
#halls-73-section,
#halls-74-section,
#halls-75-section,
#halls-76-section,
#halls-77-section,
#halls-78-section,
#halls-79-section,
#halls-80-section, 
#halls-81-section, 
#halls-82-section,
#halls-83-section,
#halls-84-section,
#halls-85-section,
#halls-86-section,
#halls-87-section,
#halls-88-section,
#halls-89-section,
#halls-90-section, 
#halls-91-section, 
#halls-92-section,
#halls-93-section,
#halls-94-section,
#halls-95-section,
#halls-96-section,
#halls-97-section,
#halls-98-section,
#halls-99-section,
#halls-100-section, 







#campus-section, 
#campus-0-section,
#campus-1-section,
#campus-2-section,
#campus-3-section,
#campus-4-section,
#campus-5-section,
#campus-6-section,
#campus-7-section,
#campus-8-section,
#campus-9-section,
#campus-10-section,
#campus-11-section,
#campus-12-section,
#campus-13-section,
#campus-14-section,
#campus-15-section,
#campus-16-section,
#campus-17-section,
#campus-18-section,
#campus-19-section,
#campus-20-section,
#campus-21-section,
#campus-22-section,
#campus-23-section,
#campus-24-section,
#campus-25-section,
#campus-26-section,
#campus-27-section,
#campus-28-section,
#campus-29-section,
#campus-30-section,
#campus-31-section,
#campus-32-section,
#campus-33-section,
#campus-34-section,
#campus-35-section,
#campus-36-section,
#campus-37-section,
#campus-38-section,
#campus-39-section,
#campus-40-section,
#campus-41-section,
#campus-42-section,
#campus-43-section,
#campus-44-section,
#campus-45-section,
#campus-46-section,
#campus-47-section,
#campus-48-section,
#campus-49-section,
#campus-50-section,
#campus-51-section,
#campus-52-section,
#campus-53-section,
#campus-54-section,
#campus-55-section,
#campus-56-section,
#campus-57-section,
#campus-58-section,
#campus-59-section,
#campus-60-section,
#campus-61-section,
#campus-62-section,
#campus-63-section,
#campus-64-section,
#campus-65-section,
#campus-66-section,
#campus-67-section,
#campus-68-section,
#campus-69-section,
#campus-70-section,
#campus-71-section,
#campus-72-section,
#campus-73-section,
#campus-74-section,
#campus-75-section,
#campus-76-section,
#campus-77-section,
#campus-78-section,
#campus-79-section,
#campus-80-section,
#campus-81-section,
#campus-82-section,
#campus-83-section,
#campus-84-section,
#campus-85-section,
#campus-86-section,
#campus-87-section,
#campus-88-section,
#campus-89-section,
#campus-90-section,
#campus-91-section,
#campus-92-section,
#campus-93-section,
#campus-94-section,
#campus-95-section,
#campus-96-section,
#campus-97-section,
#campus-98-section,
#campus-99-section,
#campus-100-section,







#off-campus-section, 
#off-campus-0-section,
#off-campus-1-section,
#off-campus-2-section,
#off-campus-3-section,
#off-campus-4-section,
#off-campus-5-section,
#off-campus-6-section,
#off-campus-7-section,
#off-campus-8-section,
#off-campus-9-section,
#off-campus-10-section,
#off-campus-11-section,
#off-campus-12-section,
#off-campus-13-section,
#off-campus-14-section,
#off-campus-15-section,
#off-campus-16-section,
#off-campus-17-section,
#off-campus-18-section,
#off-campus-19-section,
#off-campus-20-section,
#off-campus-21-section,
#off-campus-22-section,
#off-campus-23-section,
#off-campus-24-section,
#off-campus-25-section,
#off-campus-26-section,
#off-campus-27-section,
#off-campus-28-section,
#off-campus-29-section,
#off-campus-30-section,
#off-campus-31-section,
#off-campus-32-section,
#off-campus-33-section,
#off-campus-34-section,
#off-campus-35-section,
#off-campus-36-section,
#off-campus-37-section,
#off-campus-38-section,
#off-campus-39-section,
#off-campus-40-section,
#off-campus-41-section,
#off-campus-42-section,
#off-campus-43-section,
#off-campus-44-section,
#off-campus-45-section,
#off-campus-46-section,
#off-campus-47-section,
#off-campus-48-section,
#off-campus-49-section,
#off-campus-50-section,
#off-campus-51-section,
#off-campus-52-section,
#off-campus-53-section,
#off-campus-54-section,
#off-campus-55-section,
#off-campus-56-section,
#off-campus-57-section,
#off-campus-58-section,
#off-campus-59-section,
#off-campus-60-section,
#off-campus-61-section,
#off-campus-62-section,
#off-campus-63-section,
#off-campus-64-section,
#off-campus-65-section,
#off-campus-66-section,
#off-campus-67-section,
#off-campus-68-section,
#off-campus-69-section,
#off-campus-70-section,
#off-campus-71-section,
#off-campus-72-section,
#off-campus-73-section,
#off-campus-74-section,
#off-campus-75-section,
#off-campus-76-section,
#off-campus-77-section,
#off-campus-78-section,
#off-campus-79-section,
#off-campus-80-section,
#off-campus-81-section,
#off-campus-82-section,
#off-campus-83-section,
#off-campus-84-section,
#off-campus-85-section,
#off-campus-86-section,
#off-campus-87-section,
#off-campus-88-section,
#off-campus-89-section,
#off-campus-90-section,
#off-campus-91-section,
#off-campus-92-section,
#off-campus-93-section,
#off-campus-94-section,
#off-campus-95-section,
#off-campus-96-section,
#off-campus-97-section,
#off-campus-98-section,
#off-campus-99-section,
#off-campus-100-section,






#nightlife-section, 
#nightlife-0-section, 
#nightlife-1-section, 
#nightlife-2-section, 
#nightlife-3-section, 
#nightlife-4-section, 
#nightlife-5-section, 
#nightlife-6-section, 
#nightlife-7-section, 
#nightlife-8-section, 
#nightlife-9-section, 
#nightlife-10-section, 
#nightlife-11-section, 
#nightlife-12-section, 
#nightlife-13-section, 
#nightlife-14-section, 
#nightlife-15-section, 
#nightlife-16-section, 
#nightlife-17-section, 
#nightlife-18-section, 
#nightlife-19-section, 
#nightlife-20-section, 
#nightlife-21-section, 
#nightlife-22-section, 
#nightlife-23-section, 
#nightlife-24-section, 
#nightlife-25-section, 
#nightlife-26-section, 
#nightlife-27-section, 
#nightlife-28-section, 
#nightlife-29-section, 
#nightlife-30-section, 
#nightlife-31-section, 
#nightlife-32-section, 
#nightlife-33-section, 
#nightlife-34-section, 
#nightlife-35-section, 
#nightlife-36-section, 
#nightlife-37-section, 
#nightlife-38-section, 
#nightlife-39-section, 
#nightlife-40-section, 
#nightlife-41-section, 
#nightlife-42-section, 
#nightlife-43-section, 
#nightlife-44-section, 
#nightlife-45-section, 
#nightlife-46-section, 
#nightlife-47-section, 
#nightlife-48-section, 
#nightlife-49-section, 
#nightlife-50-section, 
#nightlife-51-section, 
#nightlife-52-section, 
#nightlife-53-section, 
#nightlife-54-section, 
#nightlife-55-section, 
#nightlife-56-section, 
#nightlife-57-section, 
#nightlife-58-section, 
#nightlife-59-section, 
#nightlife-60-section, 
#nightlife-61-section, 
#nightlife-62-section, 
#nightlife-63-section, 
#nightlife-64-section, 
#nightlife-65-section, 
#nightlife-66-section, 
#nightlife-67-section, 
#nightlife-68-section, 
#nightlife-69-section, 
#nightlife-70-section, 
#nightlife-71-section, 
#nightlife-72-section, 
#nightlife-73-section, 
#nightlife-74-section, 
#nightlife-75-section, 
#nightlife-76-section, 
#nightlife-77-section, 
#nightlife-78-section, 
#nightlife-79-section, 
#nightlife-80-section, 
#nightlife-81-section, 
#nightlife-82-section, 
#nightlife-83-section, 
#nightlife-84-section, 
#nightlife-85-section, 
#nightlife-86-section, 
#nightlife-87-section, 
#nightlife-88-section, 
#nightlife-89-section, 
#nightlife-90-section, 
#nightlife-91-section, 
#nightlife-92-section, 
#nightlife-93-section, 
#nightlife-94-section, 
#nightlife-95-section, 
#nightlife-96-section, 
#nightlife-97-section, 
#nightlife-98-section, 
#nightlife-99-section, 
#nightlife-100-section, 





#freshers-week-section,
#freshers-week-0-section,
#freshers-week-1-section,
#freshers-week-2-section,
#freshers-week-3-section,
#freshers-week-4-section,
#freshers-week-5-section,
#freshers-week-6-section,
#freshers-week-7-section,
#freshers-week-8-section,
#freshers-week-9-section,





#money-section, 
#money-0-section, 
#money-1-section, 
#money-2-section,
#money-3-section,
#money-4-section,
#money-5-section,
#money-6-section,
#money-7-section,
#money-8-section,
#money-9-section,
#money-10-section,
#money-11-section, 
#money-12-section,
#money-13-section,
#money-14-section,
#money-15-section,
#money-16-section,
#money-17-section,
#money-18-section,
#money-19-section,
#money-20-section, 
#money-21-section, 
#money-22-section,
#money-23-section,
#money-24-section,
#money-25-section,
#money-26-section,
#money-27-section,
#money-28-section,
#money-29-section,
#money-30-section,  
#money-31-section, 
#money-32-section,
#money-33-section,
#money-34-section,
#money-35-section,
#money-36-section,
#money-37-section,
#money-38-section,
#money-39-section,
#money-40-section, 
#money-41-section, 
#money-42-section,
#money-43-section,
#money-44-section,
#money-45-section,
#money-46-section,
#money-47-section,
#money-48-section,
#money-49-section,
#money-50-section, 
#money-51-section, 
#money-52-section,
#money-53-section,
#money-54-section,
#money-55-section,
#money-56-section,
#money-57-section,
#money-58-section,
#money-59-section,
#money-60-section, 
#money-61-section, 
#money-62-section,
#money-63-section,
#money-64-section,
#money-65-section,
#money-66-section,
#money-67-section,
#money-68-section,
#money-69-section,
#money-70-section, 
#money-71-section, 
#money-72-section,
#money-73-section,
#money-74-section,
#money-75-section,
#money-76-section,
#money-77-section,
#money-78-section,
#money-79-section,
#money-80-section, 
#money-81-section, 
#money-82-section,
#money-83-section,
#money-84-section,
#money-85-section,
#money-86-section,
#money-87-section,
#money-88-section,
#money-89-section,
#money-90-section, 
#money-91-section, 
#money-92-section,
#money-93-section,
#money-94-section,
#money-95-section,
#money-96-section,
#money-97-section,
#money-98-section,
#money-99-section,
#money-100-section



{
.content {
padding: 120px, 0px;
}
h2{
line-height: 80px;
  text-align: center
}
p {
    font-size: 30px !important;
    color: #fff !important;
      text-align: center;
    font-weight: 700 !important
  }
@media (max-width: 667px) {
h2{
  font-size: 40px !important;
}
}
}
/* END OF TITLE PAGES */





/* OTHER TITLES */
#second-year-housing-section, 
#second-year-housing-0-section,
#second-year-housing-1-section,
#second-year-housing-2-section,
#second-year-housing-3-section,
#second-year-housing-4-section,
#second-year-housing-5-section,
#second-year-housing-6-section,
#second-year-housing-7-section,
#second-year-housing-8-section,
#second-year-housing-9-section,
#second-year-housing-10-section,
#second-year-housing-11-section,
#second-year-housing-12-section,
#second-year-housing-13-section,
#second-year-housing-14-section,
#second-year-housing-15-section,
#second-year-housing-16-section,
#second-year-housing-17-section,
#second-year-housing-18-section,
#second-year-housing-19-section,
#second-year-housing-20-section,
#second-year-housing-21-section,
#second-year-housing-22-section,
#second-year-housing-23-section,
#second-year-housing-24-section,
#second-year-housing-25-section,
#second-year-housing-26-section,
#second-year-housing-27-section,
#second-year-housing-28-section,
#second-year-housing-29-section,
#second-year-housing-30-section,
#second-year-housing-31-section,
#second-year-housing-32-section,
#second-year-housing-33-section,
#second-year-housing-34-section,
#second-year-housing-35-section,
#second-year-housing-36-section,
#second-year-housing-37-section,
#second-year-housing-38-section,
#second-year-housing-39-section,
#second-year-housing-40-section,
#second-year-housing-41-section,
#second-year-housing-42-section,
#second-year-housing-43-section,
#second-year-housing-44-section,
#second-year-housing-45-section,
#second-year-housing-46-section,
#second-year-housing-47-section,
#second-year-housing-48-section,
#second-year-housing-49-section,
#second-year-housing-50-section,
#second-year-housing-51-section,
#second-year-housing-52-section,
#second-year-housing-53-section,
#second-year-housing-54-section,
#second-year-housing-55-section,
#second-year-housing-56-section,
#second-year-housing-57-section,
#second-year-housing-58-section,
#second-year-housing-59-section,
#second-year-housing-60-section,
#second-year-housing-16-section,
#second-year-housing-62-section,
#second-year-housing-63-section,
#second-year-housing-64-section,
#second-year-housing-65-section,
#second-year-housing-66-section,
#second-year-housing-67-section,
#second-year-housing-68-section,
#second-year-housing-69-section,
#second-year-housing-70-section,
#second-year-housing-71-section,
#second-year-housing-72-section,
#second-year-housing-73-section,
#second-year-housing-74-section,
#second-year-housing-75-section,
#second-year-housing-76-section,
#second-year-housing-77-section,
#second-year-housing-78-section,
#second-year-housing-79-section,
#second-year-housing-80-section,
#second-year-housing-81-section,
#second-year-housing-82-section,
#second-year-housing-83-section,
#second-year-housing-84-section,
#second-year-housing-85-section,
#second-year-housing-86-section,
#second-year-housing-87-section,
#second-year-housing-88-section,
#second-year-housing-89-section,
#second-year-housing-90-section,
#second-year-housing-91-section,
#second-year-housing-92-section,
#second-year-housing-93-section,
#second-year-housing-94-section,
#second-year-housing-95-section,
#second-year-housing-96-section,
#second-year-housing-97-section,
#second-year-housing-98-section,
#second-year-housing-99-section,
#second-year-housing-100-section,






#fresher-wisdom-section,
#fresher-wisdom-0-section,
#fresher-wisdom-1-section,
#fresher-wisdom-2-section,
#fresher-wisdom-3-section,
#fresher-wisdom-4-section,
#fresher-wisdom-5-section,
#fresher-wisdom-6-section,
#fresher-wisdom-7-section,
#fresher-wisdom-8-section,
#fresher-wisdom-9-section,
#fresher-wisdom-10-section,
#fresher-wisdom-11-section,
#fresher-wisdom-12-section,
#fresher-wisdom-13-section,
#fresher-wisdom-14-section,
#fresher-wisdom-15-section,
#fresher-wisdom-16-section,
#fresher-wisdom-17-section,
#fresher-wisdom-18-section,
#fresher-wisdom-19-section,
#fresher-wisdom-20-section,
#fresher-wisdom-21-section,
#fresher-wisdom-22-section,
#fresher-wisdom-23-section,
#fresher-wisdom-24-section,
#fresher-wisdom-25-section,
#fresher-wisdom-26-section,
#fresher-wisdom-27-section,
#fresher-wisdom-28-section,
#fresher-wisdom-29-section,
#fresher-wisdom-30-section,
#fresher-wisdom-31-section,
#fresher-wisdom-32-section,
#fresher-wisdom-33-section,
#fresher-wisdom-34-section,
#fresher-wisdom-35-section,
#fresher-wisdom-36-section,
#fresher-wisdom-37-section,
#fresher-wisdom-38-section,
#fresher-wisdom-39-section,
#fresher-wisdom-40-section,
#fresher-wisdom-41-section,
#fresher-wisdom-42-section,
#fresher-wisdom-43-section,
#fresher-wisdom-44-section,
#fresher-wisdom-45-section,
#fresher-wisdom-46-section,
#fresher-wisdom-47-section,
#fresher-wisdom-48-section,
#fresher-wisdom-49-section,
#fresher-wisdom-50-section,
#fresher-wisdom-51-section,
#fresher-wisdom-52-section,
#fresher-wisdom-53-section,
#fresher-wisdom-54-section,
#fresher-wisdom-55-section,
#fresher-wisdom-56-section,
#fresher-wisdom-57-section,
#fresher-wisdom-58-section,
#fresher-wisdom-59-section,
#fresher-wisdom-60-section,
#fresher-wisdom-61-section,
#fresher-wisdom-62-section,
#fresher-wisdom-63-section,
#fresher-wisdom-64-section,
#fresher-wisdom-65-section,
#fresher-wisdom-66-section,
#fresher-wisdom-67-section,
#fresher-wisdom-68-section,
#fresher-wisdom-69-section,
#fresher-wisdom-70-section,
#fresher-wisdom-71-section,
#fresher-wisdom-72-section,
#fresher-wisdom-73-section,
#fresher-wisdom-74-section,
#fresher-wisdom-75-section,
#fresher-wisdom-76-section,
#fresher-wisdom-77-section,
#fresher-wisdom-78-section,
#fresher-wisdom-79-section,
#fresher-wisdom-80-section,
#fresher-wisdom-81-section,
#fresher-wisdom-82-section,
#fresher-wisdom-83-section,
#fresher-wisdom-84-section,
#fresher-wisdom-85-section,
#fresher-wisdom-86-section,
#fresher-wisdom-87-section,
#fresher-wisdom-88-section,
#fresher-wisdom-89-section,
#fresher-wisdom-90-section,
#fresher-wisdom-91-section,
#fresher-wisdom-92-section,
#fresher-wisdom-93-section,
#fresher-wisdom-94-section,
#fresher-wisdom-95-section,
#fresher-wisdom-96-section,
#fresher-wisdom-97-section,
#fresher-wisdom-98-section,
#fresher-wisdom-99-section,
#fresher-wisdom-100-section


{
.content {
padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px
}
h2{
line-height: 70px
}
@media (max-width: 667px) {
h2{
  font-size: 40px !important;
}
}
}
/* END OF OTHER TITLES */





#your-course-section,
#your-course-0-section,
#your-course-1-section,
#your-course-2-section,
#your-course-3-section,
#your-course-4-section,
#your-course-5-section,
#your-course-6-section,
#your-course-7-section,
#your-course-8-section,
#your-course-9-section {
display: none !important;
}






