/* CAMPUS AND OFF CAMPUS GALLERY */
#off-campus-gallery-section, 
#off-campus-gallery-0-section,
#off-campus-gallery-1-section,
#off-campus-gallery-2-section,
#off-campus-gallery-3-section,
#off-campus-gallery-4-section,
#off-campus-gallery-5-section,
#off-campus-gallery-6-section,
#off-campus-gallery-7-section,
#off-campus-gallery-8-section,
#off-campus-gallery-9-section,
#off-campus-gallery-10-section,
#off-campus-gallery-11-section,
#off-campus-gallery-12-section,
#off-campus-gallery-13-section,
#off-campus-gallery-14-section,
#off-campus-gallery-15-section,
#off-campus-gallery-16-section,
#off-campus-gallery-17-section,
#off-campus-gallery-18-section,
#off-campus-gallery-19-section,
#off-campus-gallery-20-section,
#off-campus-gallery-21-section,
#off-campus-gallery-22-section,
#off-campus-gallery-23-section,
#off-campus-gallery-24-section,
#off-campus-gallery-25-section,
#off-campus-gallery-26-section,
#off-campus-gallery-27-section,
#off-campus-gallery-28-section,
#off-campus-gallery-29-section,
#off-campus-gallery-30-section,
#off-campus-gallery-31-section,
#off-campus-gallery-32-section,
#off-campus-gallery-33-section,
#off-campus-gallery-34-section,
#off-campus-gallery-35-section,
#off-campus-gallery-36-section,
#off-campus-gallery-37-section,
#off-campus-gallery-38-section,
#off-campus-gallery-39-section,
#off-campus-gallery-40-section,
#off-campus-gallery-41-section,
#off-campus-gallery-42-section,
#off-campus-gallery-43-section,
#off-campus-gallery-44-section,
#off-campus-gallery-45-section,
#off-campus-gallery-46-section,
#off-campus-gallery-47-section,
#off-campus-gallery-48-section,
#off-campus-gallery-49-section,
#off-campus-gallery-50-section,
#off-campus-gallery-51-section,
#off-campus-gallery-52-section,
#off-campus-gallery-53-section,
#off-campus-gallery-54-section,
#off-campus-gallery-55-section,
#off-campus-gallery-56-section,
#off-campus-gallery-57-section,
#off-campus-gallery-58-section,
#off-campus-gallery-59-section,
#off-campus-gallery-60-section,
#off-campus-gallery-61-section,
#off-campus-gallery-62-section,
#off-campus-gallery-63-section,
#off-campus-gallery-64-section,
#off-campus-gallery-65-section,
#off-campus-gallery-66-section,
#off-campus-gallery-67-section,
#off-campus-gallery-68-section,
#off-campus-gallery-69-section,
#off-campus-gallery-70-section,
#off-campus-gallery-71-section,
#off-campus-gallery-72-section,
#off-campus-gallery-73-section,
#off-campus-gallery-74-section,
#off-campus-gallery-75-section,
#off-campus-gallery-76-section,
#off-campus-gallery-77-section,
#off-campus-gallery-78-section,
#off-campus-gallery-79-section,
#off-campus-gallery-80-section,
#off-campus-gallery-81-section,
#off-campus-gallery-82-section,
#off-campus-gallery-83-section,
#off-campus-gallery-84-section,
#off-campus-gallery-85-section,
#off-campus-gallery-86-section,
#off-campus-gallery-87-section,
#off-campus-gallery-88-section,
#off-campus-gallery-89-section,
#off-campus-gallery-90-section,
#off-campus-gallery-91-section,
#off-campus-gallery-92-section,
#off-campus-gallery-93-section,
#off-campus-gallery-94-section,
#off-campus-gallery-95-section,
#off-campus-gallery-96-section,
#off-campus-gallery-97-section,
#off-campus-gallery-98-section,
#off-campus-gallery-99-section,
#off-campus-gallery-100-section,





#campus-gallery-section,
#campus-gallery-0-section,
#campus-gallery-1-section,
#campus-gallery-2-section,
#campus-gallery-3-section,
#campus-gallery-4-section,
#campus-gallery-5-section,
#campus-gallery-6-section,
#campus-gallery-7-section,
#campus-gallery-8-section,
#campus-gallery-9-section,
#campus-gallery-10-section,
#campus-gallery-11-section,
#campus-gallery-12-section,
#campus-gallery-13-section,
#campus-gallery-14-section,
#campus-gallery-15-section,
#campus-gallery-16-section,
#campus-gallery-17-section,
#campus-gallery-18-section,
#campus-gallery-19-section,
#campus-gallery-20-section,
#campus-gallery-21-section,
#campus-gallery-22-section,
#campus-gallery-23-section,
#campus-gallery-24-section,
#campus-gallery-25-section,
#campus-gallery-26-section,
#campus-gallery-27-section,
#campus-gallery-28-section,
#campus-gallery-29-section,
#campus-gallery-30-section,
#campus-gallery-31-section,
#campus-gallery-32-section,
#campus-gallery-33-section,
#campus-gallery-34-section,
#campus-gallery-35-section,
#campus-gallery-36-section,
#campus-gallery-37-section,
#campus-gallery-38-section,
#campus-gallery-39-section,
#campus-gallery-40-section,
#campus-gallery-41-section,
#campus-gallery-42-section,
#campus-gallery-43-section,
#campus-gallery-44-section,
#campus-gallery-45-section,
#campus-gallery-46-section,
#campus-gallery-47-section,
#campus-gallery-48-section,
#campus-gallery-49-section,
#campus-gallery-50-section,
#campus-gallery-51-section,
#campus-gallery-52-section,
#campus-gallery-53-section,
#campus-gallery-54-section,
#campus-gallery-55-section,
#campus-gallery-56-section,
#campus-gallery-57-section,
#campus-gallery-58-section,
#campus-gallery-59-section,
#campus-gallery-60-section,
#campus-gallery-61-section,
#campus-gallery-62-section,
#campus-gallery-63-section,
#campus-gallery-64-section,
#campus-gallery-65-section,
#campus-gallery-66-section,
#campus-gallery-67-section,
#campus-gallery-68-section,
#campus-gallery-69-section,
#campus-gallery-70-section,
#campus-gallery-71-section,
#campus-gallery-72-section,
#campus-gallery-73-section,
#campus-gallery-74-section,
#campus-gallery-75-section,
#campus-gallery-76-section,
#campus-gallery-77-section,
#campus-gallery-78-section,
#campus-gallery-79-section,
#campus-gallery-80-section,
#campus-gallery-81-section,
#campus-gallery-82-section,
#campus-gallery-83-section,
#campus-gallery-84-section,
#campus-gallery-85-section,
#campus-gallery-86-section,
#campus-gallery-87-section,
#campus-gallery-88-section,
#campus-gallery-89-section,
#campus-gallery-90-section,
#campus-gallery-91-section,
#campus-gallery-92-section,
#campus-gallery-93-section,
#campus-gallery-94-section,
#campus-gallery-95-section,
#campus-gallery-96-section,
#campus-gallery-97-section,
#campus-gallery-98-section,
#campus-gallery-99-section,
#campus-gallery-100-section



 {
  background: #222;
  p{
    color: #F4D03F;
    letter-spacing: px;
    text-transform: none;
    font-size: 15px;
    text-align: none;
  }
  h2{
    font-size: 50px;
    color: #F4D03F ;
    line-height: 0.5
  }
    /* CUSTOM CSS */
.sqs-gallery-block-grid {
.slide:hover {
  img {
    -webkit-filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    filter: brightness(0.9);
    padding: 5px;
  }
  .image-slide-title {
    opacity: 1 !important;
    font-size: 25px; 
    line-height: 30px;
    @media (max-width: 667px) {
      font-size: 15px !important
    }
  }
}
img {
    -webkit-filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    filter: brightness(0.9);
    transition: all ease-in-out 600ms !important;
  }
.image-slide-title {
    display: block !important;
    color: #fff !important;
    font-weight: 600;
    font-size: 30px;
    line-height: 25;
    text-align: center !important;
    padding: 0px;
position: absolute;
top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);    width: 80%;
    opacity: 0;
    transition: all ease-in-out 600ms !important;
  }
.image-slide-title p {
    padding-left: 10px;
    padding-right: 10px;
  margin: 0px;
  opacity: 0 !important;
  transition: all ease-in-out 600ms !important;
}
@media (max-width : 667px) {
  .image-slide-title {
  opacity: 0 !important;
  font-size: 11px !important;
  }
.image-slide-title strong {
  display: none !important;
  opacity: 0 !important;
}
.image-slide-title a {
  display: block !important;
}
  h1{
    font-size: 15px !important
  }
}
}
.sqs-lightbox-meta{display: none !important;}
}
/* END OF OFF CAMPUS GALLERY */
